# ALSO SET ROOT DIRECTORIES IN nginx.conf AND docker-compose.yml !!!!!!!

# YOU CAN SEE AND MODIFY CONTAINERS PORTS IN docker-compose.yml !!!!!!!


COMPOSE_PROJECT_NAME=Balco

MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=balco_db
MYSQL_USER=balco_db_user
MYSQL_PASSWORD=secret

APP_NAME=balco
APP_URL=balco.development

# AVAILABLE(RECOMMENDED) VERSIONS: 7.0, 7.1, 7.2, 7.3
PHP_VERSION=7.3

# AVAILABLE(RECOMMENDED) VERSIONS: 5.6, 5.7, 8.0
MYSQL_VERSION=5.7
